# Configuration de l'API Backend
VITE_API_URL=https://mediumslateblue-cod-399211.hostingersite.com//api

# Configuration PWA
VITE_APP_NAME=OneClick POS
VITE_APP_SHORT_NAME=OneClick

# Configuration de synchronisation
VITE_SYNC_INTERVAL=30000
VITE_AUTO_SYNC=true

# Configuration de développement
VITE_DEV_MODE=true